/**
 * @author 伍章红
 * @version v1.0.0
 * @since jQuery-v1.11.3, jQuery-EasyUI-1.4.3
 */
.icon-advsearch{
	background:url('../image/icon/advsearch.gif') no-repeat center center;
}
.icon-approval{
	background:url('../image/icon/approval.gif') no-repeat center center;
}
.icon-attach{
	background:url('../image/icon/attach.gif') no-repeat center center;
}
.icon-authorize{
	background:url('../image/icon/authorize.gif') no-repeat center center;
}
.icon-backup{
	background:url('../image/icon/backup.gif') no-repeat center center;
}
.icon-barchart{
	background:url('../image/icon/barchart.gif') no-repeat center center;
}
.icon-calculator{
	background:url('../image/icon/calculator.png') no-repeat center center;
}
.icon-cancel{
	background:url('../image/icon/cancel.gif') no-repeat center center;
}
.icon-chat{
	background:url('../image/icon/chat.gif') no-repeat center center;
}
.icon-clock{
	background:url('../image/icon/clock.gif') no-repeat center center;
}
.icon-correct{
	background:url('../image/icon/correct.gif') no-repeat center center;
}
.icon-database{
	background:url('../image/icon/database.gif') no-repeat center center;
}
.icon-date{
	background:url('../image/icon/date.gif') no-repeat center center;
}
.icon-delete{
	background:url('../image/icon/delete.gif') no-repeat center center;
}
.icon-delfile{
	background:url('../image/icon/delfile.png') no-repeat center center;
}
.icon-doc{
	background:url('../image/icon/doc.gif') no-repeat center center;
}
.icon-down{
	background:url('../image/icon/down.gif') no-repeat center center;
}
.icon-download{
	background:url('../image/icon/download.gif') no-repeat center center;
}
.icon-downsend{
	background:url('../image/icon/downsend.gif') no-repeat center center;
}
.icon-edit{
	background:url('../image/icon/edit.gif') no-repeat center center;
}
.icon-export{
	background:url('../image/icon/export.gif') no-repeat center center;
}
.icon-help{
	background:url('../image/icon/help.gif') no-repeat center center;
}
.icon-import{
	background:url('../image/icon/import.gif') no-repeat center center;
}
.icon-important{
	background:url('../image/icon/important.gif') no-repeat center center;
}
.icon-info{
	background:url('../image/icon/info.gif') no-repeat center center;
}
.icon-jpg{
	background:url('../image/icon/jpg.gif') no-repeat center center;
}
.icon-linechart{
	background:url('../image/icon/linechart.gif') no-repeat center center;
}
.icon-link{
	background:url('../image/icon/link.gif') no-repeat center center;
}
.icon-loading{
	background:url('../image/icon/loading.gif') no-repeat center center;
}
.icon-lock{
	background:url('../image/icon/lock.gif') no-repeat center center;
}
.icon-new{
	background:url('../image/icon/new.gif') no-repeat center center;
}
.icon-org{
	background:url('../image/icon/org.gif') no-repeat center center;
}
.icon-page{
	background:url('../image/icon/page.gif') no-repeat center center;
}
.icon-pdf{
	background:url('../image/icon/pdf.gif') no-repeat center center;
}
.icon-piechart{
	background:url('../image/icon/piechart.gif') no-repeat center center;
}
.icon-ppt{
	background:url('../image/icon/ppt.gif') no-repeat center center;
}
.icon-print{
	background:url('../image/icon/print.gif') no-repeat center center;
}
.icon-readed{
	background:url('../image/icon/readed.gif') no-repeat center center;
}
.icon-redo{
	background:url('../image/icon/redo.gif') no-repeat center center;
}
.icon-reduce{
	background:url('../image/icon/reduce.gif') no-repeat center center;
}
.icon-refresh{
	background:url('../image/icon/refresh.gif') no-repeat center center;
}
.icon-save{
	background:url('../image/icon/save.gif') no-repeat center center;
}
.icon-search{
	background:url('../image/icon/search.gif') no-repeat center center;
}
.icon-setting{
	background:url('../image/icon/setting.gif') no-repeat center center;
}
.icon-submit{
	background:url('../image/icon/submit.gif') no-repeat center center;
}
.icon-tmp1{
	background:url('../image/icon/tmp1.gif') no-repeat center center;
}
.icon-total{
	background:url('../image/icon/total.gif') no-repeat center center;
}
.icon-undo{
	background:url('../image/icon/undo.gif') no-repeat center center;
}
.icon-unlock{
	background:url('../image/icon/unlock.gif') no-repeat center center;
}
.icon-unread{
	background:url('../image/icon/unread.gif') no-repeat center center;
}
.icon-upload{
	background:url('../image/icon/upload.gif') no-repeat center center;
}
.icon-user{
	background:url('../image/icon/user.gif') no-repeat center center;
}
.icon-warn{
	background:url('../image/icon/warn.gif') no-repeat center center;
}
.icon-win{
	background:url('../image/icon/win.gif') no-repeat center center;
}
.icon-xls{
	background:url('../image/icon/xls.gif') no-repeat center center;
}
.icon-zip{
	background:url('../image/icon/zip.gif') no-repeat center center;
}